body {
    background-color: rgba(0, 0, 255, 0.637);
    text-align: center;
}
header {
    color: white;
}
section {
    background-color: white;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    padding: 15px;
}
div {
    text-align: center;
}
#imagem {
    width: 200px;
    padding-top: 10px;
}
footer {
    font-style: italic;
}